/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
body{
    margin:0;

}
.mt-1{
    margin-top: 10px
}
header{

}
.mat-form-field{
    width:100%;
}